*{padding:0; margin:0;box-sizing: border-box;}

body{
    background-color:#000;
    color: #fff;
} 

header{
  width: 100%;
  height: 100vh;
 font-family:sans-serif;
}
nav{
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color:#000;


}
.logo{
  font-size: 2em;
}
.logo span{
  color:#A10035;
}
.Navbar-1 a{
  text-decoration: none;
  color:white;
  padding: 10px 20px;
  position: sticky;
}
.Navbar-1 a:before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-top: 2px solid white; 
  transition: 0.4s linear;

}
.Navbar-1 a:hover:before{
  width: 100%;

}

.h-text{
  padding-top: 170px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h-text h1{
  font-size: 4em;
}
.h-text a{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  letter-spacing: 5px;
  position: relative;
}
.h-text a:before{
  content: " ";
  position: absolute;
  top:10px;
  Left:10px;
  width: 100%;
  height: 100%;
  background-color: #A10035;
  z-index: -1;
  border: 1px solid black;
  box-shadow: 0 0 5px #A10035, 0 0 25px #A10035, 0 0 50pc #A10035, 0 0 100px #A10035, 0 0 200px #A10035;

} 
.left{
    font-size: 1.1rem;
}
.about {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  width: 100%;
  justify-content: space-between;
  min-height: 100vh;
  padding: 70px 5% 0;
}

.about-img {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-right: 10%;
  margin-top: 2.5%;
  opacity: 1;

  
}
.about-img{
    transform: scale(1.05);
  
}

.abt-res {
  width: 100%;
  height: auto;
  max-width: 492px;
  max-height: 492px;
  border-radius: 90px;
  box-shadow: 0 0 5pc #A10035, 0 0 5px #A10035, 0 0 10px #A10035;
  border:#A10035 5px solid;
}


.about-text {
  margin-right: 3%;
  margin-top: 5%;
}

.about-text h2 {
  font-size: 60px;
  letter-spacing: 5px;
}


.about-text h2 span {
  color:#A10035;
}

.about-text p {
  color: aliceblue;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  text-align: justify;
  text-justify: inter-word;
  font-family: sans-serif;
}
/* 3rd part */
.container {
  height: auto;
  width: auto;
  padding: 15px 50px 100px 50px;
}

.heading {
  text-align: center;
  padding-bottom: 15px;
  font-size: 3rem;
}
.heading span{
  color: #A10035;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.box {
  box-shadow: 0 5px 10px #A10035;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;

}

.box img {
  height: 80px;
}

.box h3 {
  font-size: 22px;
  padding: 10px 0;
}

.box p {
  font-size: 15px;
}

.box:hover {
  transform: scale(1.05);
}

#project h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}
#project h2 span{
  color: #A10035;
}
.project_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

}
.grid_item {
  display: grid;
  place-items: center;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 5pc #A10035, 0 0 5px #A10035, 0 0 10px #A10035;


}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.card:hover .card_content {
  background: white;
  transform: translateY(0px);
}

.card_content {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
}
.card_content h3 {
  text-align: center;
  color: white;
}
.container_last{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;



}
.container_last form{
  width: 670px;
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius:25px ;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #A10035;


  


}
.container_last form h1{
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  width: 500px;
  text-align: center;


}
.container_last form input{
  color: white;
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-radius: 2px solid white;


}
.container_last form input::placeholder{
  color: white;


}
.container_last form #first
.container_last form #l_name{
  margin-left: 20px;

}
.container_last form h1{
  /* color: white; */
  font-weight: 300;
  width: 600px;
  margin-top: 20px;


}
.container_last form textarea{
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color:white;
  font-weight: 200;
  font-size: 15px;
  padding:10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;


}
#Button{
  color: white;
  font-size: 20px;
  box-shadow: 0 5px 10px #A10035;


}
@media screen and (max-width: 768px) {

  .h-text {
    padding-top: 120px;
  }

  .h-text h1 {
    font-size: 3em;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 70px 5% 50px;
  }

  .about-img {
    padding-right: 0;
    margin-top: 0;
  }

  .abt-res {
    max-width: 100%;
    border-radius: 0;
  }

  .about-text {
    margin-right: 0;
    margin-top: 0;
  }

  .about-text h2 {
    font-size: 40px;
  }

  .box-container {
    grid-template-columns: 1fr;
  }

  .box {
    width: 100%;
    margin-bottom: 30px;
  }

  #project h2 {
    font-size: 2.5rem;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

  body {
    font-size: 16px; 
    margin-left: 0%;
  }

  nav {
    height: auto;
    flex-direction: row; 
    text-align: left;
  }

  .logo {
    font-size: 1.8em; 
  }

  .Navbar-1 a {
    display: inline-block;
    padding: 10px 20px;
  }

  .h-text {
    padding-top: 150px; 
  }

  .h-text h1 {
    font-size: 3em; 
  }

  .about {
    padding: 70px 5% 0;
  }

  .about-img {
    padding-right: 10%;
    margin-top: 2.5%;
  }

  .abt-res {
    max-width: 100%;
    border-radius: 0;
  }

  .about-text {
    margin-right: 3%;
    margin-top: 5%;
  }

  .about-text h2 {
    font-size: 40px; 
  }

  .box-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .box {
    width: 100%;
    margin-bottom: 20px; 
  }

  #project h2 {
    font-size: 2.5rem; 
  }

  .card {
    width: 100%;
    margin-bottom: 20px; 
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {

  body {
    font-size: 16px; 
    margin-left: 0%;
  }

  nav {
    height: auto;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .logo {
    font-size: 1.8em; 
  }

  .Navbar-1 a {
    display: block; 
    padding: 10px 0; 
  }

  .h-text {
    padding-top: 150px; 
    font-size: 2rem;
  }

  .h-text h1 {
    font-size: 2em; 
  }

  .about {
    padding: 70px 5% 0;
  }

  .about-img {
    width: 350px;
    padding-right: 10%;
    margin-top: 2.5%;
  }

  .abt-res {
    max-width: 100%;
    border-radius: 0;
  }

  .about-text {
    margin-right: 3%;
    margin-top: 5%;
  }

  .about-text h2 {
    font-size: 40px; 
    font-size:20px ;
  }
  .about-text p{
    font-size: 10px;
  }

  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    width: 80%;
    margin-bottom: 20px; 
  }

  #project h2 {
    font-size: 2.5rem; 
  }

  .card {
    width: 80%;
    margin-bottom: 20px; 
  }
  .container_last{
    height: 50%;
  }
}
